<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>has given <%= pluralize(@user.ratings.count, "rating") %>, average <%= round @user.average_rating %></p>

<ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating %> 
      <% if currently_signed_in? @user %>
          <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small btn-danger' %> 
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Member of:</h2>    
<ul>
  <% @user.member_in.each do |club| %>
      <li><%= link_to club, beer_club_path(club) %></li>
  <% end %>
</ul>

<h2>Applicant in:</h2>    
<ul>
  <% @user.applicant_in.each do |club| %>
      <li><%= link_to club, beer_club_path(club) %></li>
  <% end %>
</ul>

<% if @user.favorite_style %>
  <p>favorite style: <%= link_to @user.favorite_style, @user.favorite_style %></p>
<% end %>

<% if @user.favorite_brewery %>
  <p>favorite brewery: <%= link_to @user.favorite_brewery, @user.favorite_brewery %></p>
<% end %>

<% if currently_signed_in? @user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn' %>
    <%= link_to 'Delete', @user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>